body {
  min-width: 100%;
  /* background-color: magenta;  */
  /* for dev purposes only peeps */
}

.card-wrapper {
  border: 1px solid red;
  overflow: auto;
}

.card {
    width: 15vw;
    height: 25vh;
}
