body {
  min-width: 100%;
  /* background-color: magenta;  */
  /* for dev purposes only peeps */
}

.projects-wrapper {
    height: 80vh;
    width: 90vw;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: row wrap;
}

.card-wrapper {
   width: 25vw;
   height: 25vh;
}

.card {
    width: 25vw;
    height: 25vh;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid magenta;
    background-color: pink;
}
