.legendContainer {
  //border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: max-content;
  // border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  margin-bottom: 3%;
  // box-shadow: 0 8px 10px -6px black;
  padding: 2%;
  padding-bottom: 40px;
  @media (max-width: 1071px) {
    //border: 4px solid red;
    padding: 1%;
    padding-bottom: 40px;
  }
  @media (max-width: 942px) {
    //border: 4px solid red;
    width: 70%;
    padding: 2%;
  }
  @media (max-width: 780px) {
    width: 90%;
  }
  @media (max-width: 598px) {
    width: 95%;
  }
  @media (max-width: 487px) {
    width: 95%;
    //height: 15vh;
    //overflow: scroll;
    //margin: 5px 15px;
    //justify-content: flex-start;
  }
  @media (max-width: 438px) {
    //border: 4px solid red;
    width: 100%;
    padding: 0.5%;
  }

  .mapTitle {
    //border-left: 5px solid;
    //border-right: 5px solid;
    //border-bottom: 5px solid;
    margin: 0 auto;
    margin-bottom: 15px;
    width: max-content;
    font-size: 2.5rem;
    border: 4px solid;
    background: linear-gradient(
      to bottom left,
      rgba(186, 17, 46, 1),
      rgba(255, 12, 0, 0.5)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(
        to bottom right,
        rgba(186, 17, 46, 1),
        rgba(255, 12, 0, 0.5)
      )
      1;
    text-align: center;
    padding: 1%;
    border-top: 0;
    @media (max-width: 1118px) {
      margin-bottom: 25px;
    }
    @media (max-width: 1047px) {
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    @media (max-width: 487px) {
      font-size: 1.2rem;
    }
  }

  .singleContainer {
    //border: 1px solid hotpink;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin: 0 auto;

    @media (max-width: 487px) {
      //border: 4px solid red;
      //flex-direction: column;
    }

    .single {
      //border: 1px solid black;
      display: flex;
      //flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: max-content;
      margin: 0 10px;
      margin-top: 10px;
      padding: 10px;
      @media (max-width: 565px) {
        padding: 8px;
        margin: 0 5px;
      }
    }

    .role {
      //border: 1px solid lime;
      margin: 0 auto;
      margin-right: 8px;
      @media (max-width: 1118px) {
        font-size: 1.2rem;
      }
      @media (max-width: 1047px) {
        font-size: 1rem;
      }
      @media (max-width: 565px) {
        font-size: 0.9rem;
      }
    }

    .dot {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      @media (max-width: 487px) {
        //border: 4px solid red;
        height: 10px;
        width: 10px;
      }
      @media (max-width: 438px) {
        //border: 4px solid red;
        height: 10px;
        width: 10px;
      }
    }
  }
}
