.cardHeader,
.team {
  flex-grow: 0 !important;
}

.span {
  margin: 0 5px;
  text-transform: capitalize;
}

.productType {
  margin: 0 !important;
  padding: 0;
}

::after {
  content: None !important;
}
