.icon {
  font-size: 1.5rem;
}

.icon:nth-child(2) {
  color: red;
  margin-right: 5px;
}

.icon:nth-child(3) {
  color: green;
}

.header {
  font-size: 1.15rem;
  flex-grow: 0 !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: flex-end !important;
  align-items: center;
  width: 100%;
}

.headerText {
  display: inline-block;
  width: max-content;
  justify-self: flex-start;
  margin-right: auto;
}
