.icon {
  font-size: 1.25rem;
  align-self: flex-end;
}

.icon:nth-child(2) {
  color: red;
}

.icon:nth-child(3) {
  color: green;
}

.header {
  flex-grow: 0;
  width: 100%;
  display: flex;
}

.headerText {
  display: inline-block;
  margin-right: auto;
}
