.Login {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginMessage {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
